<app-navbar></app-navbar>
<section class="banner">
	<div class="container d-flex flex-column justify-content-start align-items-start">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<br>
					<span class="text-uppercase text-sm letter-spacing mf-span">Maximiliano Fernandez</span>
					<h1 class="mb-3 mt-3">Clinica Online</h1>
					<p class="mb-4 pr-5">Bienvenido a la clinica, por favor loguearse para acceder</p>
					<div class="btn-container contenedorBotones">
						<button routerLink='/home'>Entrar</button>
						<button class="btnRegistro">Registro</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container mf-footer">
	<div class="row justify-content-center">
		<div class="col-lg-7 text-center">
			<div class="section-title">
				<h2>Maximiliano Fernandez</h2>
				<div class="divider mx-auto my-4"></div>
				<p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt molestias
					nostrum laudantium. Maiores porro cumque quaerat.</p>
			</div>
		</div>
	</div>
</div>