<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background: #223a66">
  <div class="container-fluid">
    <img src="../../../../assets/images/logo.png" alt="" width="50px"
      style="border-radius: 90px; margin-left:25px; margin-right:20px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <!--<li li class="nav-item" *ngIf="estaLogueado">-->
        <li class="nav-item">
          <a class="nav-link">Bienvendo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Solicitar turnos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Mis turnos</a>
        </li>
      </ul>

      <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <p class="nav-item" style="color: white;"></p>
        <!--nombre-->
      </div>
      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2"> Log Out</button>
      </div>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Registro</button>
        <button type="button" class="btn " style=" background: #e12454;
            color: #fff;
            border-color: #e12454;">LogIn</button>
      </div>

    </div>
  </div>
</nav>